<div class="signIn-body">
    <div class="tabs-section">
        <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp" md-ink-ripple="false">
            <md-content>
                <h1>Sign In</h1>
                <md-tabs md-dynamic-height="" md-border-bottom="" md-center-tabs="true" >
                    <md-tab label="Job Seeker">
                        <md-content class="md-padding">
                            <form name="formValidator" class="registration-form-validator" novalidate="novalidate" autocomplete="off">
                                <div class="form-field-container">
                                    <md-input-container class="material-input-container no-padding" data-ng-repeat="(formCategory, formData) in jobSeekerLoginForm">
                                        <label class="control-label " data-ng-bind="formData.title"></label>
                                        <input type="{{formData.type}}" data-ng-model="formData.formModel" name="name{{$index}}" class="form-control" data-ng-required="formData.required" data-ng-pattern="formData.pattern" ng-maxlength="formData.maxLength">
                                        <div ng-messages="formValidator['name' + $index].$error" ng-if="formValidator['name' + $index].$touched" role="alert">
                                            <div class="error" ng-message="required" data-ng-bind="formData.validationMessage"></div>
                                            <div class="error" ng-message="pattern" data-ng-bind="formData.patternValidation"></div>
                                        </div>
                                    </md-input-container>
                                    <div class="pull-right forgot-password" data-ng-bind="forgotPassword"></div>
                                    <div class="pull-left newUser">
                                        <a class="text-binder" data-ng-bind="loginSignUp" ui-sref="home.jobSeekerSignUp"></a>
                                    </div>
                                    <div class="button-container inactive-button-container pull-right" data-ng-if="!formValidator.$valid">
                                        <div class="text-binder" data-ng-bind="loginSignIn"></div>
                                    </div>
                                    <div class="pull-right button-container" data-ng-if="formValidator.$valid">
                                        <div class="text-binder" data-ng-bind="loginSignIn" data-ng-click="jobSeekerSignIn(!formValidator.$valid)"></div>
                                    </div>
                                </div>
                            </form>
                        </md-content>
                    </md-tab>
                    <md-tab label="Recruiter">
                        <md-content class="md-padding">
                            <form name="formValidatorr" class="registration-form-validator" novalidate="novalidate" autocomplete="off">
                                <div class="form-field-container">
                                    <md-input-container class="material-input-container no-padding" data-ng-repeat="(formCategory, formData) in recruiterLoginForm">
                                        <label class="control-label " data-ng-bind="formData.title"></label>
                                        <input type="{{formData.type}}" data-ng-model="formData.formModel" name="name{{$index}}" class="form-control" data-ng-required="formData.required" data-ng-pattern="formData.pattern" ng-maxlength="formData.maxLength">
                                        <div ng-messages="formValidatorr['name' + $index].$error" ng-if="formValidatorr['name' + $index].$touched" role="alert">
                                            <div class="error" ng-message="required" data-ng-bind="formData.validationMessage"></div>
                                            <div class="error" ng-message="pattern" data-ng-bind="formData.patternValidation"></div>
                                        </div>
                                    </md-input-container>
                                    <div class="pull-right forgot-password" data-ng-bind="forgotPassword"></div>
                                    <div class="pull-left newUser" data-ng-click="openRegistration()">
                                        <a class="text-binder" data-ng-bind="loginSignUp"></a>
                                    </div>
                                    <div class="button-container inactive-button-container pull-right" data-ng-if="!formValidatorr.$valid">
                                        <div class="text-binder" data-ng-bind="loginSignIn"></div>
                                    </div>
                                    <div class="button-container pull-right" data-ng-if="formValidatorr.$valid">
                                        <div class="text-binder" data-ng-bind="loginSignIn" data-ng-click="recruiterSignIn(!formValidatorr.$valid)"></div>
                                    </div>
                                </div>
                            </form>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
